/*ACCEUIL*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(26, 1fr);
    background-image: url(images/background.jpg);
    background-size: cover;
}

#header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 27;
    z-index: 1;
    background-color: white;
    grid-column: 1 / span 26;
    grid-row: 1 / span 2;
    display: flex;
    align-items:center;
    justify-content:left;
    border-bottom: 2px solid #ddd;
}

h1 {
    margin-left: 2vw;
    font-size: 2.5em;
    color: #147f56;
}

.cart {
    margin-left: auto;
    margin-right: 2vw;
}
.cart a {
    color: black;
}
.bookings {
    margin-right: 2vw;
}
<<<<<<< HEAD
=======
.bookings a {
    color: black;
}
>>>>>>> be8ac4fa4268bdfeba7409b85c47c5efdc283f0d

a {
    text-decoration: none;
    }

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 27;
    background-size: cover;
    text-align: center;
}

#text-container {
    color: white;
}

#text-container h2 {
    font-size: 2vw;
    margin-bottom: 1vh;
}

#text-container p {
    font-size: 1.8vw;
    margin-bottom: 1vh;
}

#content-left {
    grid-row-start: 8;
    grid-row-end: 19;
    grid-column-start: 5;
    grid-column-end: 11;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    min-height: 200px;
    min-width: 200px;
    max-width: 15vw;
    max-height: 25vh;
}

.search {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
}

.search input {
    background-color: hsla(150, 1%, 53%, 0.104);
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap: 0;
    height : auto;
    width: auto;
}

#departure {
    margin-top: 1vh;
    margin-bottom: 0vh;
}

#arrival {
    margin-bottom: 2vh;
}

#date {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.search button {
    padding: 10px;
    background-color: #2f855a;
    color: white;
    margin-left: 1vh;
    margin-right :1vh;
    margin-top: auto;
    margin-bottom: 1vh;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search button:hover {
    background-color: #276749;
}

#content-right {
    grid-row-start: 8;
    grid-row-end: 19;
    grid-column-start: 17;
    grid-column-end: 23;
    background-size: cover;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    min-height: 200px;
    min-width: 200px;
    max-width: 15vw;
    max-height: 25vh;
 }

 #content-right img {
    width: 80px;
    height: 80px;
 }

 #horizontal-line {
    width: 80%;
    height: 2px;
    background-color: black;
    margin: 20px;
}

/*CART*/

#thecontainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(26, 1fr);
    background-color: rgb(237, 233, 233);
    background-size: cover;
    background-position: center;
    
}


#theheader {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 27;
    z-index: 1;
    background-color: white;
    grid-column: 1 / span 26;
    grid-row: 1 / span 2;
    display: flex;
    align-items:center;
    justify-content:left;
    border-bottom: 2px solid #ddd;
}

.thecart {
    margin-left: auto;
    margin-right: 2vw;
}

.thebookings {
    margin-right: 2vw;
}

#contain {
    grid-row-start: 10;
    grid-row-end: 18;
    grid-column-start: 5;
    grid-column-end: 23;
    background-color: white;
}
 .text {
    text-align: center;
    padding: 50px;
 }