
/*ACCUEIL*/

body {
    margin: 0;
    padding: 0;
}
/* police pour l'ensemble des elements*/
* {
    font-family: "Roboto", "Times New Roman", sans-serif;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(26, 1fr);
    background-image: url(images/background.jpg);
    background-size: cover;
}

#header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 27;
    z-index: 1;
    background-color: white;
    grid-column: 1 / span 26;
    grid-row: 1 / span 2;
    display: flex;
    align-items:center;
    justify-content:left;
    border-bottom: 2px solid #ddd;
    min-height: 80px;
    min-width: 100vw;
    max-width : 100vw;
    max-height: 5vh;
}

h1 {
    margin-left: 2vw;
    font-size: 2.5em;
    color: #147f56;
}

.cart {
    margin-left: auto;
    margin-right: 2vw;
}
.cart a {
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.bookings {
    margin-right: 2vw;
}
.bookings a {
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

a {
    text-decoration: none;
    }

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 27;
    background-size: cover;
    text-align: center;
}

#text-container {
    color: white;
}

#text-container h2 {
    font-size: 2vw;
    margin-bottom: 1vh;
}

#text-container p {
    font-size: 1.8vw;
    margin-bottom: 1vh;
}

#content-left {
    grid-row-start: 8;
    grid-row-end: 19;
    grid-column-start: 5;
    grid-column-end: 11;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    min-height: 200px;
    min-width: 200px;
    max-width: 18vw;
    max-height: 25vh;
}

.search {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
}

.search input {
    background-color: hsla(150, 1%, 53%, 0.104);
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap: 0;
    height : auto;
    width: auto;
}

#departure {
    margin-top: 1vh;
    margin-bottom: 0vh;
}

#arrival {
    margin-bottom: 2vh;
}

#date {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.search button {
    padding: 10px;
    background-color: #2f855a;
    color: white;
    margin-left: 1vh;
    margin-right :1vh;
    margin-top: auto;
    margin-bottom: 1vh;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search button:hover {
    background-color: #276749;
}

#content-right {
    grid-row-start: 8;
    grid-row-end: 19;
    grid-column-start: 17;
    grid-column-end: 23;
    background-size: cover;
    /* overflow auto rajoute un scroll non necessaire sur l'axe x*/
    overflow-x: hidden;
    /*overflow axe y auto ajoutera le scroll que lorsque les trajets seront present dans la div*/
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    min-height: 200px;
    min-width: 200px;
    max-width: 18vw;
    max-height: 25vh;
 }

 #content-right img {
   
    width: 80px;
    height: 80px;
 }

 #horizontal-line {
    width: 80%;
    height: 2px;
    background-color: black;
    margin: 20px;
}

/*affichage des trajets*/

.trajets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: hsla(348, 20%, 89%, 1);*/
    background-color : #f8f0f0;
    border-radius: 8px;
    margin : 5px;
    font-weight: 400;
    width: 100%;

}

.trajets-info {
    display : flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.trajets-reservation {
    display: flex;
    align-items: center;
}
#mycart {
    position : absolute;
    top : 0;
    padding : 4vh; 
    font-weight : 400;
}
.btn-reservation {
    display: flex;
    align-items: center;
    background-color: #2f855a;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

#mybooking {
        position : absolute;
        top : 0;
        padding : 4vh; 
        font-weight : 400;
}

.btn-delete {
    margin-right : 4vh;
    display : flex;
    align-items : center;
    color : white;
    background-color: #2f855a;
    border: none;
    padding : 4px 12px 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #276749;
}
.btn-reservation:hover {
    background-color: #276749;
}
/*CART*/

#cart-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(26, 1fr);
    background-color: rgb(237, 233, 233);
    background-size: cover;
    background-position: center;
    
}
/*div contain pour cart et booking*/
#contain {
    grid-row-start: 10;
    grid-row-end: 18;
    grid-column-start: 5;
    grid-column-end: 23;
    background-color: white;
    display: flex;
    position : relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    min-height: 200px;
    min-width: 200px;
    max-width: 65vw;
    max-height: 25vh;
}
 .text {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
 }
 .undertext {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.total {
    font-weight: 400;
    display : flex;
    font-style: normal;
    font-size: 1rem;
    position : absolute;
    justify-content: space-between;
    align-items: center;
    bottom : 0;
    width: 100%;
    height: 10vh;
    color: white;
    background-color: #001f3f;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.total p {
    margin-left: 8vw;
}
.btn-book {
    margin-right: 2vw;
    background-color: #2f855a;
    color : white;
    border-radius: 4px;
    border : none;
    display: flex;
    align-items: center;
    padding: 1vh;
}
.btn-book:hover {
    background-color: #276749;
}
/*booking*/
#horizontal-line-smaller {
    width: 20%;
    height: 2px;
    background-color: black;
}

#thankingmessage {
    position : absolute;
    bottom : 0;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #147f56;
}